---
import config from '@/config/config.json';
import dateFormat from '@/lib/utils/dateFormat';
import { plainify } from '@/lib/utils/textConverter';
import Image from 'astro/components/Image.astro';
import ImageMod from './ImageMod.astro';

const { title, description, price, item_number, image } = Astro.props.info;
---

<article class="rotating-border">
  <div
    class="border border-border hover:border-text/30 bg-body transition-colors duration-500 rounded-2xl p-8 z-10 h-full"
  >
    <p class="font-medium md:text-xl text-text-lighter mb-6 uppercase">
      {title}
    </p>
    <div
      class="hover:text-text/70 transition-colors duration-500 flex flex-col"
    >
      <ImageMod
        src={`/images/products/${image}.png`}
        alt={title}
        width={600}
        height={600}
        class="rounded w-full"
      />
      <p class="text-text-light mt-4">{description}</p>

      <div class="flex justify-between items-center">
        <span class="font-bold text-lg">£{price}</span>

        <a
          href={`https://payhip.com/b/${item_number}`}
          class="payhip-add-to-cart-button btn-primary"
          data-theme="blue"
          data-product={item_number}>Add to Cart</a
        >
      </div>
    </div>
  </div>
</article>
