---
import ImageMod from './ImageMod.astro';

const { title, description, price, item_number, image } = Astro.props.info;
---

<article class="rotating-border">
  <div
    class="flex flex-col border border-border hover:border-text/30 bg-body transition-colors duration-500 rounded-2xl p-8 z-10 h-full"
  >
    <p class="font-medium md:text-xl text-text-lighter mb-6 uppercase">
      {title}
    </p>
    <div
      class="hover:text-text/70 transition-colors duration-500 flex flex-col flex-grow"
    >
      <ImageMod
        src={`/images/products/${image}.png`}
        alt={title}
        width={600}
        height={600}
        class="rounded w-full"
      />
      <p class="text-text-light mt-4">{description}</p>

      <div class="flex justify-between mt-auto pt-4">
        <span class="font-bold text-lg">£{price}</span>

        <a
          href={`https://payhip.com/b/${item_number}`}
          class="payhip-add-to-cart-button bg-cartbutton hover:bg-cartbuttonx rounded-full py-1 px-3 transition duration-300"
          data-theme="none"
          data-product={item_number}>Add to Cart</a
        >
      </div>
    </div>
  </div>
</article>
