---
interface SecurityFeature {
  title: string;
  desc: string;
  logo: string;
  link: string;
}

interface SecuritySection {
  title: string;
  list: SecurityFeature[];
}

import ServiceSummaryCard from '@/components/ServiceSummaryCard.astro';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

const productCategories = (await getEntry(
  'categories',
  'categories'
)) as CollectionEntry<'categories'>;

const { list: brandsList, title }: SecuritySection = productCategories?.data;
---

<section class="section">
  <div class="container">
    <h2 class="xl:text-h2 text-h2-sm font-normal mb-14 text-center">{title}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-5">
      {
        brandsList &&
          brandsList.map(({ title, desc, logo, link }, index) => (
            <ServiceSummaryCard
              title={title}
              desc={desc}
              logo={logo}
              link={link}
              aosDelay={index * 100}
            />
          ))
      }
    </div>
  </div>
</section>
